<app-menu></app-menu>

<app-wpp-floating></app-wpp-floating>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper">
        <img [style]="{'width':'100%'}"
          src="../../../../assets/images/materiales/IMG03A.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <h1 class="tituloBanner">¿Qué es el ARCEL?</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-4">
        <img [style]="{'width':'100%'}"
          src="../../../../assets/images/materiales/IMG03B.png"
          alt="BannerPrincipal">
      </div>
      <div class="col-8">
        <p class="anteTituloBanner text-center">CONOZCA EL ARCEL</p>
        <br>
        <p class="card-title">ARCEL</p>
        <p class="contenidoBanner pb-5">
          • ARCEL es una espuma de copolimero moldeable que es resistente al
          desgarro, perforación, agrietamiento y descamación.
          <br>
          • Fuerte y duradero, ARCEL ofrece reutilización a largo plazo, y
          baja fluencia compresiva hace que sea ideal para el apilamiento a
          largo plazo.
          <br>
          • Las capacidades de amortiguación de ARCEL absorben los choques sin
          disminuir su eficacia protectora, por lo que es una excelente opción
          para condiciones extremas, artículos de peso pesado o bandejas
          reutilizables. Se utiliza para amortiguar y proteger objetos de
          pequeños y delicados instrumentos a productos pesados y enormes.
          <br>
            ○ Excelente Amortiguación <br>
            ○ Extremadamente duradero <br>
            ○ Reutilizable <br>
            ○ No abrasivo para piezas delicadas <br>
            ○ Competitivo con otros materiales resistentes <br>
            ○ Reciclable <br>
            ○ Importantes ahorros de mano de obra en comparación con materiales
            alternativos <br>
            ○ Ligero para reducir los costes de manipulación / envio <br>
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
