<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}" src="../../../../../assets/images/productos/aislantes/cubo-integrado/cubo.png"
          alt="BannerPrincipal">
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">CARACTERISTICAS</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Ahorro" src="../../../../../assets/images/caracteristicas/23_ahorro.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Ahorro</h6>
            <p class="card-content">Permite ahorrar de un 10 a un 30% en costos de
              mano de obra y cimbra en comparación con los sistemas utilizados
              tradicionalmente (losa sólida, losa Versatilidad y resistencia en
              cada una de sus piezas les permiten adaptarse a cualquier di seño o
              calculo minimizando el desperdicio de material.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Aislamiento termico" src="../../../../../assets/images/caracteristicas/07_aisla_termico.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Aislamiento Térmico</h6>
            <p class="card-content">Lo cual es indispensable en zonas de temperatura
              extrema por su baja conductividad térmica, lo cual provee confort
              y ahorro.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Aislamiento acustico" src="../../../../../assets/images/caracteristicas/09_aisla_acustica.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Aislamiento acústico</h6>
            <p class="card-content">Lo cual permite disminuir los ruidos exterior es brindando mayor comodidad y
              privacidad en el interior de su casa u oficina.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Facil_manejo" src="../../../../../assets/images/caracteristicas/03_facil_manejo.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Fácil Manejo y Rapidez</h6>
            <p class="card-content">La ligereza y fácil manejo de sus
              piezas permiten trabajar con mayor limpieza y orden en la
              obra, ya que pueden ser estibadas y almacenadas con
              facilidad. Su rápida instalación es ideal para construcción
              de viviendas en serie.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de multimedia-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">MULTIMEDIA</p>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image src='../../../../../assets/images/productos/aislantes/cubo-integrado/aplicaciones/cuboIntegrado2.png'
          alt='Aplicacion_1' width="100%" [preview]="true"></p-image>
      </div>
    </div>
  </div>

  <!--Sección de ficha técnica-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">SOPORTE</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-12 text-center">
        <h6 class="fichaTecnica">Ficha técnica</h6>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-12 md:col-8">
        <embed
          src="../../../../../assets/pdf/productos/aislantes/cubo-integrado/FICHA TECNICA_CUBO INTEGRADO_ALFA GAMMA.pdf"
          type="application/pdf" width="100%" height="600px" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>