<app-menu></app-menu>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}"
          src="../../../../../assets/images/productos/aligerantes/perlita/perlite.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <p class="anteTituloBanner">APRENDA MÁS SOBRE</p>
          <h1 class="tituloBanner">Perlite</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">CARACTERISTICAS</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Descripcion"
              src="../../../../../assets/images/caracteristicas/01_informacion.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Descripción</h6>
            <p class="card-content">La perlita permite el ahorro en cimentaciones y losas lo cual es obtenido gracias a la ligereza que proporciona la perlita al ser mezclada en concretos y/o morteros para planillas y rellenos de blocks.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Ligero"
              src="../../../../../assets/images/caracteristicas/04_ligero.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Ligereza</h6>
            <p class="card-content">El mortero cemento-arena común tiene un peso aproximado de 1,900 a 2,100 kg/m³, al ser mezclado con perlita puede llegar a pesar de 1.025 a 1,100 kg/m³.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Facil manejo"
              src="../../../../../assets/images/caracteristicas/03_facil_manejo.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Fácil Manejo</h6>
            <p class="card-content">Por ser un producto ligero y de fácil manejo no requiere de mano de obra especializada en su aplicación.
              Su ligereza le permite ser mezclada con el concreto o mortero y ser utilizada aún en construcciones o lugares que requieran su aplicación a varios metros de altura.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Principales aplicaciones"
              src="../../../../../assets/images/caracteristicas/02_princ_uso_aplic.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Principales Aplicaciones</h6>
            <p class="card-content">•  Planillas
              <br/>
              • Rellenos niveladores
              <br/>
              • Aplanado de muros
              <br/>
              • Rellenos de block
              <br/>
              • Aplicaciones comerciales
              <br/>
              • No es recomendable el uso o aplicación de perlita en concretos estructurales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de multimedia-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">MULTIMEDIA</p>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aligerantes/perlita/aplicaciones/perlite1.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aligerantes/perlita/aplicaciones/perlite2.png'
          alt='Aplicacion_2' width="100%"
          [preview]="true"></p-image>
      </div>
    </div>
  </div>

  <!--Sección de ficha técnica-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">SOPORTE</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row pt-5">
      <div class="p-fluid grid flex justify-content-center">
        <h6 class="fichaTecnica">Ficha técnica</h6>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-8">
        <embed
          src="../../../../../assets/pdf/productos/aligerantes/perlite/10_CATALOGO_PERLITE_ALFA GAMMA_compressed (1).pdf" type="application/pdf" width="100%"
          height="600px" />
      </div>
    </div>
  </div>
  <app-contact-card></app-contact-card>
</div>
<app-footer></app-footer>
