<app-menu></app-menu>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}" src="../../../../assets/images/materiales/EPP.png" alt="BannerPrincipal">
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-2 md:pt-5">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-12">
        <p class="anteTituloBanner text-center">CONOZCA EL EPP</p>
      </div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-12 md:col-4 flex align-items-center">
        <img [style]="{'width':'100%'}" src="../../../../assets/images/materiales/IMG03B.png" alt="BannerPrincipal">
      </div>
      <div class="col-12 md:col-8 flex align-items-center">
        <p>
          • El polipropileno expandido (EPP) es un material que suele ser
          utilizado en la industria automotriz asi como en la industria
          aeronáutica por sus propiedades de resistencia a la temperatura v a la
          abrasión.
          <br>
          • Estas piezas son utilizadas en el área automotriz, tales como
          respaldos de cabeceras, asientos v como componentes de protección como
          parte interna y funcional del auto.
          <br>
          • Sus características pueden ser tan ligeras y a su vez tan rígidas
          que pueden servir parafunciones muy delicadas como protecciones para
          el ser humano, como protectores De respaldos y cascos de seguridad.
        </p>
      </div>
    </div>
  </div>
  <app-contact-card></app-contact-card>
</div>
<app-footer></app-footer>