<app-menu></app-menu>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}"
          src="../../../../../assets/images/productos/sistemas-constructivos-aislantes/geosystem/geosystem.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <p class="anteTituloBanner">APRENDA MÁS SOBRE</p>
          <h1 class="tituloBanner">Geosystem</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">CARACTERISTICAS</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Foam-control"
              src="../../../../../assets/images/caracteristicas/12_foam_control.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Foam-Control EPS Geosystem®</h6>
            <p class="card-content">Es un material plástico celular que es resistente, pero con una densidad muy baja (1% de la tierra común para rellenos).
              Es fabricado en forma de bloque y cumple con la norma ASTM D6817 (Especificación estándar para material rígido, poliestireno celular Geosystem®).
              Está disponible en diferentes tipos de densidad para proporcionar un control de la integridad estructural y del costo, eficacia del sistema.
              La información proporcionada se considera oportuna, precisa y fiable para el uso.
              Cada proyecto Foam-Control EPS Geosystem® debe ser diseñado por un ingeniero profesional.
              La ingeniería o las especificaciones del proyecto deben ser consultadas para determinar la norma ASTM D6817 Tipo necesaria para las condiciones de carga del proyecto.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Calidad"
              src="../../../../../assets/images/caracteristicas/13_calidad.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Aseguramiento de la Calidad</h6>
            <p class="card-content">Cumple o supera los requisitos de la norma ASTM D6817, “Standard Specification for Rigid, Cellular Polystyrene Geosystem”. Foam-Control EPS es moni- toreado por el departamento de control de calidad de UL LLC.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Resistencia"
              src="../../../../../assets/images/caracteristicas/25_resist_termitas.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">La Resistencia a las Termitas, Moho y Hongos</h6>
            <p class="card-content">Lo cual es indispensable en zonas de temperatura térmica, lo cual provee confor y ahorro de energía empleada en refrigeración o calefacción en interiores.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Almacenamiento"
              src="../../../../../assets/images/caracteristicas/16_almac.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Almacenamiento y Colocación</h6>
            <p class="card-content">Foam-Control EPS Geosystem® no sufre ningún tipo de cambio en el corto plazo bajo condiciones climáticas cualquiera. La exposición prolongada al sol causa amarillamiento y ligera fragilización de la superficie debido a la luz ultravioleta. Esto tiene poco efecto sobre las propiedades mecánicas. Si los bloques estarán en la intemperie almacenados, por largo periodo, se recomienda cubrirlos con una cubierta de polietileno opaco, lonas o material similar.
              Los bloques de Foam-Control EPS Geosystem® deben ser anclados o tener contrapesos para evitar ser desplazados por el viento o por niveles altos de agua, tanto en el almacenamiento, como durante todas las fases de la colocación.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Garantia"
              src="../../../../../assets/images/caracteristicas/15_garantia.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Garantía</h6>
            <p class="card-content">Los licenciatarios de Foam-Control EPS Geosystem® ofrecen un producto con garantía que asegura las propiedades físicas del material.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de multimedia-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">MULTIMEDIA</p>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/sistemas-constructivos-aislantes/geosystem/aplicaciones/geosystem1.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/sistemas-constructivos-aislantes/geosystem/aplicaciones/geosystem2.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/sistemas-constructivos-aislantes/geosystem/aplicaciones/geosystem3.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
    </div>
  </div>

  <!--Sección de ficha técnica-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">SOPORTE</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row pt-5">
      <div class="p-fluid grid flex justify-content-center">
        <h6 class="fichaTecnica">Ficha técnica</h6>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-8">
        <embed
          src="../../../../../assets/pdf/productos/sistemas-constructivos-aislantes/geosystem/FICHA TECNICA_GEOSYSTEM_ALFA GAMMA.pdf" type="application/pdf" width="100%"
          height="600px" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
