<app-menu></app-menu>

<div class="container-fluid">
  <div class="p-fluid grid">
    <div class="col-12 image-wrapper p-0">
      <img [style]="{'width':'100%'}" src="../../../assets/images/beneficios/beneficiosBanner.png" alt="BannerInicio">
    </div>
  </div>
  <div class="pt-2 md:pt-5 p-fluid grid flex justify-content-center">
    <div class="col-12">
      <p class="contenidoBanner">Conoce los beneficios que los productos de
        Alfa-Gamma ofrecen para tu obra, construcción y hogar. Elaboramos productos
        de la más alta calidad para satisfacer la necesidad de nuestros cliente.
        Protección, seguridad, ligereza, aislamiento y ahorro son solo algunos
        de los muchos beneficios que podrás encontrar en nuestros productos.
      </p>
    </div>
  </div>
  <app-contact-card></app-contact-card>
</div>
<app-footer></app-footer>
