<app-menu></app-menu>

<div class="container-fluid">
  <!--   <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper">
        <img [style]="{'width':'100%'}"
          src="../../../../assets/images/materiales/IMG03A.png"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <h1 class="tituloBanner">¿Qué es el EPP?</h1>
        </div>
      </div>
    </div>
  </div> -->
  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6">
        <p class="titulo text-center">EMPAQUE Y EMBALAJE</p>
        <p class="contenidoBanner pb-5">
          El poliestireno es un material muy práctico y resistente, según las
          condiciones en las que se maneje. Su ligereza lo hace el material
          ideal para proteger productos delicados.
          El embalaje de poliestireno expandido tiene multiples utilidades, alta
          capacidad de soportar golpes, conservando y dando protección a la
          mercancía.
          Ligereza, resistencia a la humedad, y capacidad de absorción de
          impactos. Esta última peculiaridad lo convierte en un excelente
          acondicionador de productos frágiles o delicados como
          electrodomésticos, componentes eléctricos.
        </p>
      </div>
    </div>
  </div>
  <app-contact-card></app-contact-card>
</div>
<app-footer></app-footer>
