<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Alfagamma</strong>. Derechos Reservados.
    </div>
    <div class="row justify-content-center mt-2 icon-container">
      <div class="col-md-1 mt-2">
        <a href="https://www.facebook.com/AlfaGammaMx/" target="_blank">
          <i class="pi pi-facebook"></i>
        </a>
      </div>
      <div class="col-md-1 mt-2">
        <a href="https://www.instagram.com/alfagammapoliestireno/"
          target="_blank">
          <i class="pi pi-instagram"></i>
        </a>
      </div>
      <div class="col-md-1 mt-2">
        <a
          href="https://wa.me/5218711891421?text=Hola,%20quisiera%20recibir%20informacion"
          target="_blank">
          <i class="pi pi-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
