/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@font-face {
  font-family: "Karla-Variable";
  src: url("../../../assets/css/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../../../assets/css/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../../../assets/css/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../../assets/css/fonts/Poppins-SemiBold.ttf");
}

#footer {
  background: #383737;
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.container-footer {
  padding:0;
}

.footer-menu {
  color: #989898;
  font-family: Karla-Variable;
  font-weight: bold;
}

.copyright{
  color: #6f6f71;
  font-family: Karla-Variable;
  font-weight: bold;
}

.lista-footer {
  text-align: left !important;
  list-style: none;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #e1e1e1;
  font-family: Karla-Variable;
  padding: 0;
}
