<footer>
  <div class="container-fluid container-footer">
    <div class="row" id="footer">
      <div class="p-fluid grid">
        <div class="col-10">
          <div class="row">
            <div class="p-fluid grid flex justify-content-evenly">
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">INICIO</p>
              </div>
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">PRODUCTOS</p>
                <ul class="lista-footer">
                  <li>Aligerantes</li>
                  <li class="mt-4">Aislantes</li>
                  <li class="mt-4">Sistemas Constructivos y Aislantes</li>
                  <li class="mt-4">Decorativos</li>
                  <li class="mt-4">Cadena Fría</li>
                </ul>
              </div>
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">MATERIALES</p>
                <ul class="lista-footer">
                  <li>EPP</li>
                  <li class="mt-4">EPS</li>
                  <li class="mt-4">ARCEL</li>
                </ul>
              </div>
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">BENEFICIOS</p>
              </div>
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">UBICACIÓN</p>
              </div>
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">CONTACTO</p>
                <ul class="lista-footer">
                  <li>Tel. <br>
                    8717590950 al 53</li>
                  <li class="flex justify-content-evenly mt-4">
                    <a target="_blank" href="https://www.facebook.com/AlfaGammaMx">
                      <img class="mt-2" src="../../../assets/images/footer/Foot_fb.png" alt="FB-Logo">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/alfagammapoliestireno">
                      <img class="mt-2" src="../../../assets/images/footer/Foot_ig.png" alt="IG-Logo">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-6 md:col-1 text-center">
                <p class="footer-menu">BLOG</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 mt-6">
          <img [style]="{'width':'100%'}" src="../../../assets/images/footer/logo_footer.png" alt="Logo_footer">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row end-footer">
      <div class="p-fluid grid flex justify-content-between">
        <div class="col-3 flex align-items-center">
          <p class="m-0 copyright">2022. TODOS LOS DERECHOS RESERVADOS.</p>
        </div>
        <div class="col-6 md:col-2 pt-4">
          <img [style]="{'width':'100%'}" src="../../../assets/images/footer/Logo.png" alt="LOGO_PAG">
        </div>
      </div>
    </div>
  </div>
</footer>
