<app-menu></app-menu>

<app-wpp-floating></app-wpp-floating>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper">
        <img [style]="{'width':'100%'}"
          src="../../../../../assets/images/productos/cadena-fria/hielera/hielera.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <p class="anteTituloBanner">APRENDA MÁS SOBRE</p>
          <h1 class="tituloBanner">Hielera</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">CARACTERISTICAS</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Versatilidad"
              src="../../../../../assets/images/caracteristicas/24_versatil.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Descripción</h6>
            <p class="card-content">El práctico e innovador diseño de la hielera ALFA-GAMMA te permite llevarla contigo en cualquier ocasión, resolviendo tus necesidades de almacenamiento de productos que requieran refrigeración.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Gran capacidad"
              src="../../../../../assets/images/caracteristicas/06_capacidad.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Gran capacidad</h6>
            <p class="card-content">Lo cual soluciona tus problemas de espacio para almacenar y llevar contigo lo que quieras.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Tapa charola"
              src="../../../../../assets/images/caracteristicas/20_Tapa.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Tapa charola</h6>
            <p class="card-content">
              El diseño innovador de su tapa-charola le permite sobresalir de otras hieleras convencionales brindandote mayor comodidad de disfrutar tus bebidas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Impresion lateral"
              src="../../../../../assets/images/caracteristicas/22_area_impresion.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Áreas de impresión lateral</h6>
            <p class="card-content">26x16cm.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Imprime logo"
              src="../../../../../assets/images/caracteristicas/21_imprime_logo.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Imprime tu logo</h6>
            <p class="card-content">Incrementa tus ventas y refuerza la imagen de tu empresa o negocio imprimiendo tu logo en las partes laterlaes de la hielera.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de multimedia-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">MULTIMEDIA</p>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/cadena-fria/hielera/aplicaciones/hielera1.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
    </div>
  </div>

  <!--Sección de ficha técnica-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">SOPORTE</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row pt-5">
      <div class="p-fluid grid flex justify-content-center">
        <h6 class="fichaTecnica">Ficha técnica</h6>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-8">
        <embed
          src="../../../../../assets/pdf/productos/cadena-fria/hielera/FICHA TECNICA_HIELERA_ALFA GAMMA.pdf" type="application/pdf" width="100%"
          height="600px"/>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
