<app-menu></app-menu>

<app-wpp-floating></app-wpp-floating>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}"
          src="../../../../../assets/images/productos/aislantes/climate/Climate.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <p class="anteTituloBanner">APRENDA MÁS SOBRE</p>
          <h1 class="tituloBanner">Climate</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">CARACTERISTICAS</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Aplicaciones"
              src="../../../../../assets/images/caracteristicas/02_princ_uso_aplic.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Aplicaciones</h6>
            <p class="card-content">Foam-Control® CLIMATE® tiene en cada una de sus caras un apelícula plástica adherida desde su fabricación en planta las cuales son compatibles con la mayoría de los sistemas tradicionales en techo, losas y/o muro.
              se puede aplicar directamente sobre un techo o losa ya existente, así como en muros, proporcionando en un solo paso un recubrimiento aislante que genera ahorro en costos de material y de mano de obra.
            </p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Ventajas"
              src="../../../../../assets/images/caracteristicas/08_resistencia.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Ventajas</h6>
            <p class="card-content">Tiene una película plástica en ambas caras que proporciona una alta durabilidad del producto, alta resistencia a la humedad, no contiene CFC, HCFC, HFC o formaldehídos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Beneficios"
              src="../../../../../assets/images/caracteristicas/24_versatil.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Beneficios</h6>
            <p class="card-content">Foam-Control® CLIMATE® es un producto altamente utilizado por contratistas, Arquitectos e Ingenieros para ser instalado en losas, techos y muros de todo tipo de construcción.
              es la placa de aislamiento con recubirmiento más rentable en cuanto a costo y efectividad en el ahorro de energía en el mercado.
              se utiliza en gran variedad de sistemas de una sola capa, incluyendo TPO, EPDM, PVC, CPE, CSPE, EIP, NBP y TPA.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de multimedia-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">MULTIMEDIA</p>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aislantes/climate/aplicaciones/Climate1.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aislantes/climate/aplicaciones/Climate2.png'
          alt='Aplicacion_2' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aislantes/climate/aplicaciones/Climate3.png'
          alt='Aplicacion_2' width="100%"
          [preview]="true"></p-image>
      </div>
    </div>
  </div>

  <!--Sección de ficha técnica-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">SOPORTE</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row pt-5">
      <div class="p-fluid grid flex justify-content-center">
        <h6 class="fichaTecnica">Ficha técnica</h6>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-8">
        <embed
          src="../../../../../assets/pdf/productos/aislantes/climate/CLIMATE.PDF" type="application/pdf" width="100%"
          height="600px" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
