<app-menu></app-menu>

<div class="container-fluid">

  <div class="row">
    <div class="p-fluid grid">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}" src="../../../assets/images/ubicacion/IMG05.png" alt="BannerInicio">
      </div>
    </div>
  </div>

  <div class="row p-8">
    <div class="p-fluid grid justify-content-center">
      <div class="col-3 text-center">
        <p class="anteTituloBanner">MAPA</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="p-fluid grid justify-content-evenly">
      <div class="col-4 md:col-1">
        <div class="row mb-3">
          <img [style]="{'width':'100%'}" src="../../../assets/images/ubicacion/Icon05.png" alt="ubicacion">
        </div>
        <p class="contenidoBanner text-center">Oficina de ventas</p>
      </div>
      <div class="col-4 md:col-1">
        <div class="row mb-3">
          <img [style]="{'width':'100%'}" src="../../../assets/images/ubicacion/Icon06.png" alt="ubicacion">
        </div>
        <p class="contenidoBanner text-center">Planta</p>
      </div>
      <div class="col-4 md:col-1">
        <div class="row mb-3">
          <img [style]="{'width':'100%'}" src="../../../assets/images/ubicacion/Icon07.png" alt="ubicacion">
        </div>
        <p class="contenidoBanner text-center">Oficina y centro de distribución</p>
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="p-fluid grid justify-content-center">
      <!-- <div class="col-12 md:col-8">
        <agm-map [style]="{'height':'80vh'}" [latitude]="mapOptions.lat" [longitude]="mapOptions.lng" [zoom]="mapOptions.zoom">
          <agm-marker *ngFor="let uen of uens" animation="DROP" iconUrl = "{{uen.icon}}"
            title="{{uen.nombre_uen}}" [latitude]="uen.latitud" [longitude]="uen.longitud" (markerClick)="markerClickListener(uen)">
          </agm-marker>
        </agm-map>
      </div> -->
      <div class="col-12 md:col-6">
        <div class="row justify-content-center">
          <div class="col-12 md:col-3 text-center">
            <h4>Sucursales</h4>
          </div>
        </div>
        <div class="row">
          <p-scrollPanel [style]="{'width': '100%', 'height':'750px'}">
            <p-accordion>
              <p-accordionTab [(selected)]="activeState[i]" *ngFor="let uen of uens; index as i;"
                header={{uen.nombre_uen}}>
                <p-divider></p-divider>
                <p>{{uen.direccion}}</p>
                <p>{{uen.estado}}, {{uen.ciudad}}</p>
                <p>{{uen.telefono}}</p>
                <p-divider></p-divider>
              </p-accordionTab>
            </p-accordion>
          </p-scrollPanel>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>