<app-menu></app-menu>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper p-0">
        <img [style]="{'width':'100%'}"
          src="../../../../../assets/images/productos/aislantes/media-cana/mediacana.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <p class="anteTituloBanner">APRENDA MÁS SOBRE</p>
          <h1 class="tituloBanner">Media caña</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">CARACTERISTICAS</p>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Versatil"
              src="../../../../../assets/images/caracteristicas/24_versatil.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Versátil</h6>
            <p class="card-content">La versatilidad de la MEDIA CAÑA ALFATERM™ le permite ser empleada como aislante térmico en tubería de todo tipo de fluidos.
              Es ampliamente utilizada en el ramo de la construcción, restaurantes y clubes deportivos que requieren mantener un nivel óptimo en la temperatura interior de cuartos y tuberías.</p>
          </div>
        </div>
      </div>
      <div class="col-8 md:col-6">
        <div class="row flex justify-content-center">
          <div class="col-2 md:col-1 image-container">
            <img alt="Aislante termico"
              src="../../../../../assets/images/caracteristicas/07_aisla_termico.png">
          </div>
          <div class="col-10">
            <h6 class="card-title">Aislamiento Térmico</h6>
            <p class="card-content">Es utilizada como aislante térmico en tuberías de agua, gases y todo tipo de fluidos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de multimedia-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">MULTIMEDIA</p>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-evenly">
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aislantes/media-cana/aplicaciones/mediaCana1.png'
          alt='Aplicacion_1' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aislantes/media-cana/aplicaciones/mediaCana2.png'
          alt='Aplicacion_2' width="100%"
          [preview]="true"></p-image>
      </div>
      <div class="col-6 md:col-4 flex justify-content-center">
        <p-image
          src='../../../../../assets/images/productos/aislantes/media-cana/aplicaciones/mediaCana3.png'
          alt='Aplicacion_3' width="100%"
          [preview]="true"></p-image>
      </div>
    </div>
  </div>

  <!--Sección de ficha técnica-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-6 text-center">
        <p class="anteTituloBanner">SOPORTE</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row pt-5">
      <div class="p-fluid grid flex justify-content-center">
        <h6 class="fichaTecnica">Ficha técnica</h6>
      </div>
    </div>
  </div>
  <div class="row p-5 flex justify-content-around">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-8">
        <embed
          src="../../../../../assets/pdf/productos/aislantes/media-cana/MediaCana.PDF" type="application/pdf" width="100%"
          height="600px" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
