<app-menu></app-menu>

<app-wpp-floating></app-wpp-floating>

<div class="container-fluid">
  <div class="row">
    <div class="p-fluid grid p-0">
      <div class="col-12 image-wrapper">
        <img [style]="{'width':'100%'}"
          src="../../../../assets/images/materiales/IMG03A.jpg"
          alt="BannerPrincipal">
        <div class="col-6 bannerText">
          <h1 class="tituloBanner">¿Qué es el EPS?</h1>
        </div>
      </div>
    </div>
  </div>

  <!--Sección de características-->

  <div class="row pt-6">
    <div class="p-fluid grid flex justify-content-center">
      <div class="col-4">
        <img [style]="{'width':'100%'}"
          src="../../../../assets/images/materiales/IMG03B.png"
          alt="BannerPrincipal">
      </div>
      <div class="col-8">
        <p class="anteTituloBanner text-center">CONOZCA EL EPS</p>
        <br>
        <p class="card-title">EPS</p>
        <p class="contenidoBanner pb-5">
          • El poli estireno expandido (EPS) es un material que por su gran
          resistencia, es ideal para la fabricación de los empaques para la
          industria de electrodomésticos, electrónica, química, mecánica,
          moldeado ETC.
          <br>
          • Los empaques EPS se diseñan para proteger perfectamente el producto,
          dependiendo de los espesores, densidad, y resistencia. Es posible
          proteger cualquier tipo de piezas de vidrio, electrodomésticos, tv,
          estufas, tostadores, aspiradoras, motores, bobinas, herramientas,
          electrodos para la fundición entre otras cosas.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
