<app-menu></app-menu>
<app-wpp-floating></app-wpp-floating>

<div class="container-fluid">
  <div class="p-fluid grid">
    <div class="col-12 image-wrapper">
      <img [style]="{'width':'100%'}"
        src="../../../../../assets/images/productos/aplicacion-especial/agricultura/semillero.jpg"
        alt="BannerInicio">
      <div class="col-4 bannerText">
        <p class="anteTituloBanner">APRENDA MAS SOBRE EL</p>
        <h1 class="tituloBanner">Semillero</h1>
        <p class="contenidoBanner">
          Apicacion especial de poliestireno para proteger de la humedad a los cultivos.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
