
  .float{
    position:fixed;
    width:4.5rem;
    height:4.5rem;
    bottom:4.5rem;
    right:4.5rem;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }

  .my-float{
    margin-top:0.85rem;
    font-size:xx-large !important;
    color: #ddd !important;
  }
