<div class="container-fluid">
  <div class="p-fluid grid">
    <div class="col-12" [style]="{'padding':'0'}">
      <p-menubar [style]="{'border':'0'}" [model]="items" [autoDisplay]="true">
        <ng-template pTemplate="start">
          <a routerLink="/"> <img src="../../../assets/images/logo/PAG.png"
              width="50%" class="mr-4
              ml-5"></a>
        </ng-template>
        <ng-template pTemplate="end">
          <a target="_blank" href="https://www.facebook.com/AlfaGammaMx">
            <img class="mt-2"
              src="../../../assets/images/menu-icons/facebook.png"
              alt="FB-Logo">
          </a>
          <br>
          <a target="_blank"
            href="https://www.instagram.com/alfagammapoliestireno">
            <img class="mb-2 mt-1"
              src="../../../assets/images/menu-icons/instagram.png"
              alt="IG-Logo">
          </a>
        </ng-template>
      </p-menubar>
    </div>
  </div>
</div>
